<%- include("partials/default_header") -%>

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Basic Blog</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">A blog which allows you to create, edit, and delete blog posts. You can also share them via various social media platforms.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="/sign_up" class="btn btn-primary btn-lg px-4 me-sm-3">Sign Up</a>
        <a href="/login" class="btn btn-outline-secondary btn-lg px-4">Login</a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 60vh;">
      <div class="container px-5">
        <img src="/img/blog_hero.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Basic Blog" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

<%- include("partials/default_footer") -%>
