<%- include("partials/login_header") -%>

<div class="login">
  <form class="form-signin" action="/login" method="post">
    <img class="mb-4 login-img" src="/img/blog_hero.jpg" alt="Basic Blog Hero Image">
    <h1 class="h3 mb-3 fw-normal">Basic Blog Login</h1>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="username">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <hr class="my-4">
    <a class="btn btn-lg btn-secondary google-signup-button" href="/auth/google" role="button"><i class="bi bi-google"></i>&nbsp;&nbsp;Login With Google</a>
  </form>
</div>

<%- include("partials/footer") -%>
