<%- include("partials/default_header") -%>

<div class="row login-signup-row">
  <h1 class="login-signup-title">Basic Blog</h1>
  <h2 class="login-signup-subtitle">Login</h2>
  <div class="col">
    <a class="btn btn-block btn-primary login-signup-google" href="/auth/google" role="button"><i class="bi bi-google"></i>&nbsp;&nbsp;Login With Google</a>
  </div>
  <div class="col">
    <h1 class="login-signup-divider">OR</h1>
  </div>
  <div class="col">
    <div class="form-signin">
      <form action="/login" method="POST">
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="email@example.com" name="username">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="password" name="password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>

<%- include("partials/default_footer") -%>
