<%- include("partials/default_header") -%>

<h1 class="desktop-h1 mobile-small-h1 mobile-large-h1">Basic Blog Login Page</h1>
<div class="container">
  <div class="col-sm-4">
    <div class="card social-block">
      <div class="card-body">
        <a class="btn btn-block" href="/auth/google" role="button"><i class="bi bi-google"></i> Sign Up With Google</a>
      </div>
    </div>
  </div>
</div>


<%- include("partials/default_footer") -%>
