/* Sitewide */
body {
  font-family: 'Montserrat', sans-serif;
}

/* login, signup */

.login-signup-row {
  margin-top: 50px;
  text-align: center;
}

.login-signup-title, .login-signup-subtitle {
  text-align: center;
}

.login-signup-subtitle {
  margin-bottom: 50px;
}

.login-signup-google {
  margin-top: 50px;
}

.login-signup-divider {
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 48%;
  margin-right: -50%;
  transform: translate(-505, -50%);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
